<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.email %>
</p>

<%= link_to 'Back', user_albums_path(current_user) %>
